[submodule "bios"]
	path = bios
	url = https://github.com/Rebirth09/GameHive-BIOS.git
[submodule "system/decorations"]
	path = system/decorations
	url = https://github.com/Rebirth09/batocera-bezel.git
	
[submodule "emulationstation/.emulationstation/themes/es-theme-carbon"]
	path = emulationstation/.emulationstation/themes/es-theme-carbon
	url = https://github.com/Rebirth09/es-theme-carbon.git
